<?xml version="1.0" encoding="utf-8"?>
<providers
xmlns="http://ibatis.apache.org/providers"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<clear/>

	<provider
      name="SQLite3"
      description="System.Data.SQLite, Version=1.0.91.0"
      enabled="true"
      assemblyName="System.Data.SQLite, Version=1.0.91.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
      connectionClass="System.Data.SQLite.SQLiteConnection"
      commandClass="System.Data.SQLite.SQLiteCommand"
      parameterClass="System.Data.SQLite.SQLiteParameter"
      parameterDbTypeClass="System.Data.DbType, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      parameterDbTypeProperty="DbType"
      dataAdapterClass="System.Data.SQLite.SQLiteDataAdapter"
      commandBuilderClass="System.Data.SQLite.SQLiteCommandBuilder"
      usePositionalParameters="true"
      useParameterPrefixInSql="false"
      useParameterPrefixInParameter="false"
      parameterPrefix="@"
      setDbParameterPrecision="false"
      setDbParameterScale="false"
      setDbParameterSize="false"/>

</providers>
