<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<properties resource="properties.config"></properties>
	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="true"/>
		<setting validateSqlMap="false"/>
	</settings>

	<providers embedded="TS.Fx.IBatisNet.Config.providers.config, TS.Fx.IBatisNet"/>
	<!--개발계서버정보-->
	<database>
    
    <!--<provider name="${bit}"/>-->
    <!--<dataSource name="pos" connectionString="Data Source=${constringO}${rootO}${dbnameO};Version=3;"/>-->

    <provider name="SQLite3"/>
    <dataSource name="pos" connectionString="Data Source=C:\\temp\\DB\\TSPOS.db;Version=3;"/>


	</database>

	<!--<database>
        <provider name="sqlServer2.0"/>
        <dataSource name="Honeycomb"
					connectionString="Data Source=172.31.79.69;Initial Catalog=Honeycomb; User ID=pocsadmin; Password=pi=3.141592; Connection Timeout = 120;"/>
    </database-->

	<sqlMaps>
    <sqlMap embedded="TS.Common.Dac.xml.POS320401.xml, TS.Common.Dac"/>
	</sqlMaps>
</sqlMapConfig>
