<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="ZIP_CODE_ADRESS" value="\\\\192.168.0.29\\temp\\DB\\ZIP_CODE.db"/>

    <add key="KPTR_POS_DB" value="C:\\temp\\DB\\KPTR_POS.db"/>
    <add key="ZIP_CODE_ADRESS" value="C:\\temp\\DB\\ZIP_CODE.db"/>
    <add key="DEFAULT_BACKUP_PATH" value="C:\\temp\\DB\\Backup\\"/>
    
    <add key="AQABA_IP" value="192.168.0.29"/>
    <add key="AQABA_PORT" value="14000"/>
    <add key="SendMaxCount" value="10"/>
    <add key="ThreadPollTime" value="200"/>
  </appSettings>

</configuration>
