<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--후방(로컬)--><!--
	<add key="constring" value="\\\\192.168.0.29\\temp\\"/>
	<add key="dbname" value="KPTR_POS.db"/>
	<add key="root" value="DB\\"/>
	<add key="bit" value="SQLite3"/>
	--><!--전방네트웍--><!--
	<add key="constringO" value="\\\\192.168.0.29\\temp\\"/>
	<add key="dbnameO" value="KPTR_POS.db"/>
	<add key="rootO" value="DB\\"/>
	<add key="bit" value="SQLite3"/>-->

  <!--<add key="constring" value="\\\\192.168.0.29\\"/>-->
  <add key="constring" value="C:\\Temp\\"/>
  <add key="dbname" value="TSPOS.db"/>
  <add key="root" value="DB\\"/>
  <add key="bit" value="SQLite3"/>
  <!--전방네트웍-->
  <!--<add key="constringO" value="\\\\192.168.0.29\\"/>-->
  <add key="constringO" value="C:\\Temp\\"/>
  <add key="dbnameO" value="TSPOS.db"/>
  <add key="rootO" value="DB\\"/>
  <add key="bit" value="SQLite3"/>
</settings>

